<div
        id="{{ id }}-{{ face }}"
        class="
            sector d-flex justify-content-center align-items-center
            {{ face }} {{ color }} {{ scale }}
            {% if class is defined %}{{ class }}{% endif %}">
    <div id="{{ id }}-{{ face }}-sector-text" class="sector-text text-center">
        {{ text }}
    </div>
</div>
