<div
        id="{{ id }}-{{ face }}"
        class="sector
            {{ face }} {{ color }} {{ scale }}
            {% if class is defined %}{{ class }}{% endif %}">
    <div id="{{ id }}-{{ face }}-sector-text" class="sector-text">
        {{ text }}
    </div>
</div>
