{% extends 'core/core.html.twig' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <h1 class="fw-light text-danger my-5 h2 text-center">Supprimer mon compte</h1>

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
            </svg>

            <div class="alert alert-info d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#info-fill"/>
                </svg>

                <div>
                    <p>
                        La suppression de <strong>{{ member.get.name }}</strong> ne supprimera aucune commande.<br>
                        Par contre, son nom n'apparâitra plus sur les commandes en cours ou dans l'historique des
                        anciennes commandes.
                    </p>

                    <p>
                        Aussi, l'adresse email associée <strong>{{ member.get.email }}</strong> ne reçevra plus les
                        alertes concernant les nouvelles commandes.
                    </p>
                </div>
            </div>

            <form method="post" action="{{ path('member_delete', {'id': member.get.id}) }}">
                <button type="submit" class="btn btn-lg btn-outline-danger w-100 my-3">
                    Supprimer le membre {{ member.get.name }}
                </button>

                <a href="{{ path('home') }}" class="btn btn-outline-secondary w-100">Annuler</a>
            </form>
        </div>
    </div>
{% endblock %}