{% extends 'core/core.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row mb-5 pt-5">
            <div class="col-12 col-lg-5 mx-auto">
                <h3 class="text-primary mb-3">{{ sign.title }}</h3>

                <img src="{{ asset(sign.previewImagePath) }}" alt="{{ sign.title }}" class="w-100">

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="mb-4">
                        {{ form_row(form.quantity)}}
                    </div>

                    <div class="mt-5">
                        <button type="submit" class="btn btn-lg btn-outline-primary w-100">Enregistrer</button>
                    </div>

                    <a
                        {% if orderSign is defined %}
                            href="{{ path('orders_view', { id: orderId }) }}"
                        {% else %}
                            href="{{ path('order_sign_choose', { orderId: orderId, categoryId: sign.category.id }) }}"
                        {% endif %}
                        class="btn btn-outline-secondary w-100 my-3">
                        Annuler
                    </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('materialDirSignEdit') }}
{% endblock %}
