{% extends 'core/core.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row mb-5 pt-5">
            <div class="col">
                <h3 class="text-primary mb-3">Panneau d'allée</h3>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <h4 class="mt-5 mb-3">Personnalisation</h4>

                <div class="mb-4">
                    {{ form_row(form.aisleNumber) }}
                </div>

                <div class="mb-4">
                    {{ form_row(form.alignment) }}
                </div>

                <div class="mb-4">
                    {{ form_row(form.category) }}
                </div>

                <div class="mb-4">
                    {{ form_row(form.item1) }}
                </div>

                <div id="aisle-item2-container" class="item-container mb-4">
                    {{ form_row(form.item2) }}
                </div>

                <div id="aisle-item3-container" class="item-container mb-4">
                    {{ form_row(form.item3) }}
                </div>

                <div class="mb-4">
                    {{ form_row(form.quantity)}}
                </div>

                {% include 'order/sign/_edit_save.html.twig' %}

                {{ form_end(form) }}
            </div>

            <div class="col">
                <div>
                    {% include 'order/sign/materialSector/template.html.twig' with
                        {
                            'id': 'material-sector-sign-1',
                            'scale': 'medium',
                            'alignment': 'right',
                            'number': '499',
                            'sector': 'Secteur',
                            'product_item_1': 'BÉTONNIÈRE',
                            'product_item_2': 'CARREAU DE PLÂTRE',
                            'product_item_3': 'DALLE DE PLANCHER'
                        }
                    %}

                    {% include 'order/sign/materialSector/template.html.twig' with
                        {
                            'id': 'material-sector-sign-2',
                            'scale': 'medium',
                            'alignment': 'right',
                            'number': '499',
                            'sector': 'Secteur',
                            'product_item_1': 'BÉTONNIÈRE',
                            'product_item_2': 'CARREAU DE PLÂTRE',
                            'product_item_3': 'DALLE DE PLANCHER',
                            'class': 'mt-4'
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('materialSectorSignEdit') }}
{% endblock %}
