<div id="{{ id }}" class="material-algeco {{ scale }} {% if class is defined %}{{ class }}{% endif %}">
    <div class="text-container">
        <div class="items_text">
            • {{ text_line_1 }}
            {% if text_line_2 != '' %}
                <br />• {{ text_line_2 }}
            {% endif %}
            {% if text_line_3 != '' %}
                <br />• {{ text_line_3 }}
            {% endif %}
            {% if text_line_4 != '' %}
                <br />• {{ text_line_4 }}
            {% endif %}
        </div>
    </div>
</div>
