{% if not isActive and count > 1 %}
    <div class="d-flex justify-content-center mb-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('orders_list_archives', {'page': 1}) }}">1</a>
                </li>

                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('orders_list_archives', {'page': page - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item {% if page == count %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('orders_list_archives', {'page': page + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                <li class="page-item {% if page == count %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('orders_list_archives', {'page': count}) }}">{{ count }}</a>
                </li>
            </ul>
        </nav>
    </div>
{% endif %}
