<div class="accordion mb-5" id="aisleAccordion">
    {% for category, signs in orderSigns %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                    {{ category }}
                </button>
            </h2>

            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ loop.index }}">
                <div class="accordion-body">
                    {% for sign in signs %}
                        <div class="row mb-3 align-items-center">
                            <div class="col d-flex justify-content-center">
                                {% include 'order/_view_' ~ sign.type ~ '_signs.html.twig' with {'sign': sign} %}
                            </div>

                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row align-items-center">
                                            <div class="col col-4 text-end">
                                                <label for="sign-quantity-{{ sign.id }}">Quantité</label>
                                            </div>

                                            <div class="col col-8">
                                                <input
                                                        id="sign-quantity-{{ sign.id }}"
                                                        type="number"
                                                        min="1"
                                                        class="form-control sign-quantity"
                                                        name="quantity"
                                                        data-route="{{
                                                            path('order_sign_' ~ sign.type ~ '_update_quantity',
                                                            {'id': sign.id})
                                                        }}"
                                                        value="{{ sign.quantity }}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col text-end">
                                        <a
                                                href="{{ path('order_sign_' ~ sign.type ~ '_update', {'id': sign.id}) }}"
                                                class="btn btn-outline-primary">
                                            Modifier
                                        </a>

                                        <a
                                                href="{{ path('order_sign_' ~ sign.type ~ '_delete', {'id': sign.id}) }}"
                                                class="btn btn-outline-danger">
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
