{% extends 'core/core.html.twig' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <h1 class="fw-light text-danger mt-5 h2 text-center">
                Êtes vous sure de vouloir supprimer<br>
                la commande n°{{ order.id }}
            </h1>

            <h2 class="h5 fw-light text-muted text-center mt-1">{{ order.title }}</h2>

            <form method="post" action="{{ path('orders_delete', {'id': order.id}) }}" class="mt-5">
                <button type="submit" class="btn btn-lg btn-outline-danger w-100 my-3">
                    Supprimer la commande n° {{ order.id }}
                </button>

                <a href="{{ path('orders_view', {'id': order.id}) }}" class="btn btn-outline-secondary w-100">
                    Annuler
                </a>
            </form>
        </div>
    </div>
{% endblock %}
