{% extends 'core/core.html.twig' %}

{% block content %}
    <h1 class="h2 fw-light text-center mt-5">
        Confirmation d'envoi<br>
        commande n°{{ order.id }}
    </h1>

    <h2 class="h5 fw-light text-primary text-center mt-3 mb-5">{{ order.title }}</h2>

    <div class="row justify-content-md-center gx-lg-5">
        {% if resume is null %}
            <div class="col-12 col-lg-6">
                <div class="alert alert-warning" role="alert">
                    La commande ne peut pas être validée car elle ne contient aucun panneau.
                </div>

                <div class="mt-3 text-center">
                    <a
                            href="{{ path('orders_view', {'id': order.id}) }}"
                            class="btn btn-lg btn-outline-secondary mt-3 w-75">
                        Retour
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-12 col-lg-6">
                <h3 class="h4 fw-light text-primary mt-4">Résumé de la commande</h3>

                <ul class="list-group mb-4 shadow-sm">
                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Prix total de la commande</div>

                        <div class="w-50 ps-2 text-primary">
                            {{ resume.totalPrice|format_number({fraction_digit: 2}) }}€
                        </div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Nombre total de panneaux</div>

                        <div class="w-50 ps-2 text-primary">
                            {{ resume.totalSignsCount }} Exemplaires
                        </div>
                    </li>

                    {% for signResume in resume.signsResume %}
                        <li class="list-group-item d-flex align-items-center">
                            <div class="w-50">
                                {{ signResume.title }}<br>
                                <span class="small text-muted fst-italic">
                                    Code DataMerch: {{ signResume.customerReference }}
                                </span>
                            </div>

                            <div class="w-50 ps-2 text-primary">
                                {{ signResume.signsCount }} Exemplaires
                                ( {{ signResume.totalPrice|format_number({fraction_digit: 2}) }}€ )
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <hr class="my-4" />

                <p class="lead">
                    <strong class="text-primary">Adresse de livraison</strong><br>
                    {{ order.user.shop.address }}<br>
                    {{ order.user.shop.postCode }} {{ order.user.shop.city }}<br>
                    {{ order.user.shop.region }}<br>
                </p>

                <hr class="my-4" />

                <p class="lead">
                    <strong class="text-primary">Date de livraison estimée:</strong><br>
                    {{ order.calculatedDeliveryDate|date('d/m/Y') }}
                </p>

                <hr class="my-4" />
            </div>

            <div class="col-12 col-lg-6 pt-lg-3">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    {{ form_row(form.customerReference, {'attr': {'autofocus': true}}) }}

                    {{ form_row(form.comment) }}

                    <div class="mt-5">
                        <button type="submit" class="btn btn-lg btn-outline-primary w-100">
                            Confirmer l'envoi de la commande
                        </button>

                        <a
                                href="{{ path('orders_view', {'id': order.id}) }}"
                                class="btn btn-outline-secondary w-100 mt-3">
                            Annuler
                        </a>
                    </div>

                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
