{% extends 'core/core.html.twig' %}

{% block content %}
    <h1 class="h2 fw-light text-center mt-5">
        Confirmation d'envoi<br>
        commande n°{{ order.id }}
    </h1>

    <h2 class="h5 fw-light text-primary text-center mt-3 mb-5">{{ order.title }}</h2>

    <div class="row justify-content-md-center gx-lg-5">
        {% if resume is null %}
            <div class="col col-lg-6">
                <div class="alert alert-warning" role="alert">
                    La commande ne peut pas être validée car elle ne contient aucun panneau.
                </div>

                <div class="mt-3 text-center">
                    <a
                            href="{{ path('orders_view', {'id': order.id}) }}"
                            class="btn btn-lg btn-outline-secondary mt-3 w-75">
                        Retour
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col col-lg-6">
                <hr class="my-4" />

                <h3 class="h4 fw-light text-primary mt-4">Résumé de la commande</h3>

                <p class="lead mb-3">
                    Prix total de la commande:
                    <strong class="text-primary">
                        {{ resume['global']['price']|format_number({fraction_digit: 2}) }}€
                    </strong>
                    <br>
                    Nombre total de panneaux:
                    <strong class="text-primary">{{ resume['global']['count'] }} Exemplaires</strong>
                    <br><br>
                    <i>
                        {% for title, data in resume['sign'] %}
                            {{ title }} :
                            <strong class="text-primary">
                                {{ data['count'] }} Exemplaires
                                ( {{ data['countPrice']|format_number({fraction_digit: 2}) }}€ )
                            </strong><br />
                        {% endfor %}
                    </i>
                </p>

                <hr class="my-4" />

                <p class="lead">
                    <strong class="text-primary">Adresse de livraison</strong><br>
                    {{ order.user.shop.address }}<br>
                    {{ order.user.shop.postCode }} {{ order.user.shop.city }}<br>
                    {{ order.user.shop.region }}<br>
                </p>

                <hr class="my-4" />

                <p class="lead">
                    <strong class="text-primary">Date de livraison estimée:</strong><br>
                    {{ order.calculatedDeliveryDate|date('d/m/Y') }}
                </p>

                <hr class="my-4" />
            </div>

            <div class="col col-lg-6 pt-lg-3">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                {{ form_row(form.customerReference, {'attr': {'autofocus': true}}) }}

                {{ form_row(form.comment) }}

                <div class="mt-5">
                    <button type="submit" class="btn btn-lg btn-outline-primary w-100">
                        Confirmer l'envoi de la commande
                    </button>

                    <a
                            href="{{ path('orders_view', {'id': order.id}) }}"
                            class="btn btn-outline-secondary w-100 mt-3">
                        Annuler
                    </a>
                </div>

                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
