{% extends 'core/core.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('orderPrint') }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mt-5 mb-4 d-print-none">
        <div>
            <a href="{{ app.session.get('referer') }}" class="btn btn-outline-secondary">Retour à la liste</a>
        </div>

        <div>
            {% if is_granted('SEND', order) %}
                <a href="{{ path('orders_send', {'id': order.id}) }}" class="btn btn-primary">
                    Valider la commande
                </a>
            {% endif %}

            {% if is_granted('DELETE', order) %}
                <a href="{{ path('orders_delete', {'id': order.id}) }}" class="btn btn-danger">
                    Supprimer la commande
                </a>
            {% endif %}
        </div>
    </div>

    <div class="my-5 d-print-none">
        <h2 class="h3 ms-3">Références commande</h2>

        <ul class="list-group shadow-sm">
            <li class="list-group-item d-flex justify-content-around">
                <div class="w-50">N° de commande</div>

                <div class="w-50 ps-2 text-primary">{{ order.id }}</div>
            </li>

            <li class="list-group-item d-flex justify-content-around align-items-center">
                <div class="w-50">Intitulé de la commande</div>

                <div class="w-50 ps-2 text-primary d-flex justify-content-between align-items-center">
                    <div class="me-3">{{ order.title }}</div>
                    {% if is_granted('UPDATE_INFO', order) %}
                        <div>
                            <a
                                    href="{{ path('orders_update', {'element': 'info', 'id': order.id}) }}"
                                    class="btn btn-sm btn-outline-primary">
                                Modifier
                            </a>
                        </div>
                    {% endif %}
                </div>
            </li>

            {% if not is_granted('ROLE_CUSTOMER_SHOP') %}
                <li class="list-group-item d-flex justify-content-around">
                    <div class="w-50">Magasin</div>

                    <div class="w-50 ps-2 text-primary">{{ order.user.userIdentifier }}</div>
                </li>
            {% endif %}

            <li class="list-group-item d-flex justify-content-around">
                <div class="w-50">
                    Ref. commande Castorama<br>
                    <small class="small text-muted">Numéro de commande DataMerch</small>
                </div>

                <div class="w-50 ps-2 text-primary">
                    {% if order.customerReference %}
                        {{ order.customerReference }}
                    {% else %}
                        <i class="text-muted">Non défini</i>
                    {% endif %}
                </div>
            </li>

            {% if order.comment %}
                <li class="list-group-item d-flex justify-content-around">
                    <div class="w-50">Commentaire à l'attention de l'imprimeur</div>

                    <div class="w-50 ps-2 text-primary">{{ order.comment }}</div>
                </li>
            {% endif %}
        </ul>

        <h2 class="h3 mt-4 ms-3 mt-4">Statut</h2>

        <ul class="list-group mt-2 shadow-sm">
            <li class="list-group-item d-flex justify-content-around align-items-center">
                <div class="w-50">Statut de la commande</div>

                <div class="w-50 ps-2 text-primary d-flex justify-content-between align-items-center">
                    <div class="me-2">{{ order.status.label }}</div>
                    {% if is_granted('ROLE_COMPANY_ADMIN') %}
                        <div>
                            <a
                                    href="{{ path('orders_update', {'element': 'status', 'id': order.id}) }}"
                                    class="btn btn-sm btn-outline-primary">
                                Modifier
                            </a>
                        </div>
                    {% endif %}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-around align-items-center">
                <div class="w-50">Date de livraison prévue</div>

                <div class="w-50 ps-2 text-primary d-flex justify-content-between align-items-center">
                    <div class="me-2">
                        {% if order.deliveryDate %}
                            {{ order.deliveryDate|date('d/m/Y') }}
                        {% else %}
                            <i class="text-muted">Non définie</i>
                        {% endif %}
                    </div>

                    {% if is_granted('UPDATE_DELIVERY_DATE', order) %}
                        <div>
                            <a
                                    href="{{ path('orders_update', {'element': 'delivery', 'id': order.id}) }}"
                                    class="btn btn-sm btn-outline-primary">
                                Modifier
                            </a>
                        </div>
                    {% endif %}
                </div>
            </li>

            <li class="list-group-item d-flex justify-content-around">
                <div class="w-50">Créée par</div>

                <div class="w-50 ps-2 text-primary">{{ order.member.displayName }}</div>
            </li>

            <li class="list-group-item d-flex justify-content-around">
                <div class="w-50">Date de création</div>

                <div class="w-50 ps-2 text-primary">{{ order.creationTime|date('d/m/Y à H:m') }}</div>
            </li>

            <li class="list-group-item d-flex justify-content-around">
                <div class="w-50">Date de dernière modification</div>

                <div class="w-50 ps-2 text-primary">{{ order.lastUpdateTime|date('d/m/Y à H:m') }}</div>
            </li>
        </ul>

        {% if resume %}
            <h2 class="h3 mt-4 ms-3 mt-4">Résumé</h2>

            <ul class="list-group mt-2 shadow-sm">
                <li class="list-group-item d-flex justify-content-around">
                    <div class="w-50">Prix total de la commande</div>

                    <div class="w-50 ps-2 text-primary">
                        {{ resume['global']['price']|format_number({fraction_digit: 2}) }}€
                    </div>
                </li>

                <li class="list-group-item d-flex justify-content-around">
                    <div class="w-50">Nombre total de panneaux</div>

                    <div class="w-50 ps-2 text-primary">{{ resume['global']['count'] }} Exemplaires</div>
                </li>

                {% for title, data in resume['sign'] %}
                    <li class="list-group-item d-flex justify-content-around">
                        <div class="w-50">{{ title }}</div>

                        <div class="w-50 ps-2 text-primary">
                            {{ data['count'] }} Exemplaires
                            ( {{ data['countPrice']|format_number({fraction_digit: 2}) }}€ )
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-2 d-print-none">
        <h2 class="h3 ms-3">Liste des panneaux</h2>

        <div>
            {% if is_granted('UPDATE_SIGN', order) %}
                <a href="{{ path('order_sign_choose', {'orderId': order.id}) }}" class="btn btn-outline-primary">
                    Ajouter un panneau
                </a>
            {% endif %}
            <a href="#" id="app-signs-print" class="btn btn-outline-secondary">Imprimer la liste</a>
        </div>
    </div>




    {% if orderSigns is not empty %}
        {{ include('order/_view_signs.html.twig') }}
    {% else %}
        <div class="alert alert-info lead text-center my-5" role="alert">
            Cette commande ne contient aucun panneau pour l'instant.
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('signQuantity') }}
    {{ encore_entry_script_tags('orderPrint') }}
{% endblock %}
