{% extends 'core/core.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('orderPrint') }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mt-5 mb-4 d-print-none">
        <div>
            <a href="{{ app.session.get('referer') }}" class="btn btn-outline-secondary">Retour à la liste</a>
        </div>

        <div>
            {% if is_granted('SEND', order) %}
                <a href="{{ path('orders_send', {'id': order.id}) }}" class="btn btn-primary">
                    Valider la commande
                </a>
            {% endif %}

            {% if is_granted('DELETE', order) %}
                <a href="{{ path('orders_delete', {'id': order.id}) }}" class="btn btn-danger">
                    Supprimer la commande
                </a>
            {% endif %}
        </div>
    </div>

    <div class="p-3 my-5 bg-light rounded-3 d-print-none shadow-sm">
        <h2 class="h4 ms-3">Références de la commande</h2>

        <ul class="list-group shadow-sm mb-3">
            <li class="list-group-item d-flex align-items-center">
                <div class="w-50">
                    Identifiant unique de la commande<br>

                    <small class="small text-muted">Référence imprimeur</small>
                </div>

                <div class="w-50 ps-2 text-primary">{{ order.id }}</div>
            </li>

            <li class="list-group-item d-flex align-items-center">
                <div class="w-50">
                    Référence Castorama<br>
                    <small class="small text-muted">Numéro de commande DataMerch</small>
                </div>

                <div class="w-50 ps-2 text-primary">
                    {% if order.customerReference %}
                        {{ order.customerReference }}
                    {% else %}
                        <span class="text-muted small">A définir au moment de la validation de la commande</span>
                    {% endif %}
                </div>
            </li>

            {% if not is_granted('ROLE_CUSTOMER_SHOP') %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="w-50">Magasin</div>

                    <div class="w-50 ps-2 text-primary">{{ order.user.userIdentifier }}</div>
                </li>
            {% endif %}

            {% if order.comment %}
                <li class="list-group-item d-flex align-items-center">
                    <div class="w-50">Commentaire à l'attention de l'imprimeur</div>

                    <div class="w-50 ps-2 text-primary">{{ order.comment }}</div>
                </li>
            {% endif %}
        </ul>

        <div class="row mb-3">
            <div class="col-12 {% if resume %}col-lg-6{% endif %}">
                <h2 class="h4 mt-4 ms-3 mt-4">Etat de la commande</h2>

                <ul class="list-group mt-2 shadow-sm">
                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Statut de la commande</div>

                        <div class="w-50 ps-2 text-primary d-flex justify-content-between align-items-center">
                            <div class="me-2">{{ order.status.label }}</div>
                            {% if is_granted('ROLE_COMPANY_ADMIN') %}
                                <div>
                                    <a
                                            href="{{ path('orders_update', {'element': 'status', 'id': order.id}) }}"
                                            class="btn btn-sm btn-outline-primary">
                                        Modifier
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Date de livraison prévue</div>

                        <div class="w-50 ps-2 text-primary d-flex justify-content-between align-items-center">
                            <div class="me-2">
                                {% if order.deliveryDate %}
                                    {{ order.deliveryDate|date('d/m/Y') }}
                                {% else %}
                                    <span class="text-muted small">
                                    Le délai de fabrication est de 3 semaines.<br>
                                    La date de livraison sera calculée automatiquement au moment de la validation de la commande.
                                </span>
                                {% endif %}
                            </div>

                            {% if is_granted('UPDATE_DELIVERY_DATE', order) %}
                                <div>
                                    <a
                                            href="{{ path('orders_update', {'element': 'delivery', 'id': order.id}) }}"
                                            class="btn btn-sm btn-outline-primary">
                                        Modifier
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Créée par</div>

                        <div class="w-50 ps-2 text-primary">{{ order.memberDisplayName }}</div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Date de création</div>

                        <div class="w-50 ps-2 text-primary">{{ order.creationTime|date('d/m/Y à H:i', "Europe/Paris") }}</div>
                    </li>

                    <li class="list-group-item d-flex align-items-center">
                        <div class="w-50">Date de dernière modification</div>

                        <div class="w-50 ps-2 text-primary">{{ order.lastUpdateTime|date('d/m/Y à H:i', "Europe/Paris") }}</div>
                    </li>
                </ul>
            </div>


            {% if resume %}
                <div class="col-12 col-lg-6">
                    <h2 class="h4 mt-4 ms-3 mt-4">Résumé de la commande</h2>

                    <ul class="list-group mt-2 shadow-sm">
                        <li class="list-group-item d-flex align-items-center">
                            <div class="w-50">Prix total de la commande</div>

                            <div class="w-50 ps-2 text-primary">
                                {{ resume.totalPrice|format_number({fraction_digit: 2}) }}€
                            </div>
                        </li>

                        <li class="list-group-item d-flex align-items-center">
                            <div class="w-50">Nombre total de panneaux</div>

                            <div class="w-50 ps-2 text-primary">{{ resume.totalSignsCount }} Exemplaires</div>
                        </li>

                        {% for signResume in resume.signsResume %}
                            <li class="list-group-item d-flex align-items-center">
                                <div class="w-50">
                                    {{ signResume.title }}<br>
                                    <span class="small text-muted">
                                        {{ signResume.category }}<br>
                                    </span>
                                    <span class="small text-muted fst-italic">
                                        Code DataMerch: {{ signResume.customerReference }}
                                    </span>
                                </div>

                                <div class="w-50 ps-2 text-primary">
                                    {{ signResume.signsCount }} Exemplaires
                                    ( {{ signResume.totalPrice|format_number({fraction_digit: 2}) }}€ )
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-4 d-print-none">
        <h2 class="h3 ms-3">Liste des panneaux</h2>

        <div>
            {% if is_granted('UPDATE_SIGN', order) %}
                <a href="{{ path('order_sign_choose_category', {'orderId': order.id}) }}" class="btn btn-primary">
                    Ajouter un panneau
                </a>
            {% endif %}
            <a href="#" id="app-signs-print" class="btn btn-secondary">Imprimer la liste</a>
        </div>
    </div>

    {{ include('order/_view_signs.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('signQuantity') }}
    {{ encore_entry_script_tags('orderPrint') }}
{% endblock %}
